<!DOCTYPE html>
<html lang="en">
<head>

	{% block meta %}{% endblock %}

	<link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" />
	<link href="{{STATIC_URL}}lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="{{STATIC_URL}}lib/jquery-ui/jquery-ui.min.css" rel="stylesheet">
	<link href="{{STATIC_URL}}css/base.css" rel="stylesheet">

	{% block style %}{% endblock %}
	
	<title>thinkingapp » {% block title %}{% endblock %}</title>

</head>

<body>

	{% block body %}{% endblock %}
	
	<script src="{{STATIC_URL}}lib/jquery.min.js"></script>
	<script src="{{STATIC_URL}}lib/lodash.min.js"></script>
	<script src="{{STATIC_URL}}lib/backbone-min.js"></script>
	<script src="{{STATIC_URL}}lib/jquery-ui/jquery-ui.min.js"></script> <!-- Customized: CTRL+F 'added by Tom' -->
	<script src="{{STATIC_URL}}lib/jquery.autosize.js"></script>
	<script src="{{STATIC_URL}}lib/csrf-protection.js"></script>
	
	{% block scripts %}{% endblock %}
	
</body>
</html>