body {
	font-family:HelveticaNeue-Light;
	font-size:15px;
	color:#444444;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image:url("../images/4.jpg");
}

input {
	width:95%;
}

.container {
	width:920px;
}

.status {
	padding-top:8%;
	padding-bottom:3%;
	text-align:center;
	min-height:50px;
}
/*
.row { border:1px solid blue; }
.span1, .span2, .span3, .span4, .span5, .span6,
.span7, .span8, .span8, .span9, .span10, .span11, .span12 {
	border:1px solid green;
}
*/
.content {
	height:400px;
}

.or-login {
	color:#008bd3;
	float:right;
	cursor:pointer;
	font-size:16px;
	text-decoration:underline;
}

#reset-box { margin-top:55px; }
#reset-message { margin-top:100px; }
#reset-confirm-box { margin-top:20px; }

.blue-button {
	color:#008bd3;
	background-color:rgba(0,139,211,0.15);
	border-radius:6px;
	font-weight:bold;
	text-align:center;
	padding-top:4px;
	border-width:1px;
	width:100%;
}

.blue-button a {
	text-decoration:none;
}

#back-from-settings {
	text-align:center;
	font-size:27px;
	padding-top:1.5%;
}

#back-from-settings a {
	color:#555555;
	text-decoration:none;
}

.remember-me {
	float:right;
	width:45%;
	padding-top:4px;
}

.forgot-password {
	font-size:14px;
	margin-top:5px;
}

.footer {
	font-size:13px;
	font-family:HelveticaNeue;
	text-align:center;
	padding-top:7%;
	color:#666666;
}

.footer a {
	color:#888888;
	text-shadow:-1px -1px 0px rbga(0,0,0,1), 1px 1px 0px rbga(255,255,255,1);
}

.footer a:hover {
	text-decoration:none;
	color:#555555;
}

.wall-list {
	margin-top:15%;
	padding-left:4.5%;
	font-weight:400;
	height:300px;
}

.wall-list div {
	margin-bottom:15px;
}

.wall-list div a { text-decoration:none; }

#add-wall {
	cursor:pointer;
	color:#008bd3;
	font-size:24px;
	margin-top:-4px;
}

#add-wall:hover {
	color:#005580;
}

#new-wall-form {
	display:none;
	padding-top:5px;
}

#create-new-wall {
	font-size:25px;
	color:#008bd3;
	background-color:transparent;
	border:0px;
	margin-top:-12px;
}

#new-wall {
	width:160px;
}

.form-area {
	margin-left:26%;
}

#signup-form {
	margin-top:-16%;
}

.brand-name {
	color:#B79021;
/*	background: -webkit-linear-gradient(#FFF, #9E7F1A);*/
/*  	-webkit-background-clip: text;*/
/*  	-webkit-text-fill-color: transparent;*/
	margin-top:9%;
	margin-left:5%;
	height:400px;
	font-size:50px;
	font-weight:bold;
	text-align:center;
/*	text-shadow:0px -1px 1px rgba(0,0,0,0.8), 0px 1px 1px rgba(255,255,255,1);*/
	
	background-color:#B79021;
    color:transparent;
    text-shadow:0px 1px 1px rgba(255,255,255,0.75);
    -webkit-background-clip:text;
    -moz-background-clip:text;
    background-clip:text;
}

.first-line {
	margin-bottom:62px;
}

.wall-name:hover .delete-wall {
	opacity:1;
}

.delete-wall {
	cursor:pointer;
	color:darkred;
	margin-left:20px;
	opacity:0;
}

.ui-dialog {
	font-family:HelveticaNeue-Light;
	font-size:15px;
	color:#444444;
	background-image:url("../images/4.jpg");
}

.ui-dialog-titlebar {
	display:none;
}

.ui-dialog-buttonpane {
	background-color:rgba(255,255,255,0.0);
}