.menu-base {
	position:fixed;
	height:35px;
	width:100%;
}

#menu-background-gradient {
	z-index:9999;

    background: rgb(229,210,167); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(229,210,167,1) 0%, rgba(183,144,33,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,210,167,1)), color-stop(100%,rgba(183,144,33,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(229,210,167,1) 0%,rgba(183,144,33,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(229,210,167,1) 0%,rgba(183,144,33,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(229,210,167,1) 0%,rgba(183,144,33,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(229,210,167,1) 0%,rgba(183,144,33,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5d2a7', endColorstr='#b79021',GradientType=0 ); /* IE6-9 */

}

#menu {
	box-shadow:0px 3px 3px rgba(0,0,0,0.6);
	z-index:10001;
}

/*************************************/

#main-menu-button {
    position:fixed;
    top:5px;
    font-family:Optima;
    font-weight:bold;
	margin-left:3%;
	font-size:23px;
	text-shadow:0px 1px 1px rgba(255,255,255,0.4);
}

#main-menu-button a {
	text-decoration:none;
	color:#333333;
}

#wall-title {
    font-weight:600;
    position:fixed;
    top:6px;
	margin-left:29%;
	font-size:21px;
	color:#444444;
	text-shadow:0px 1px 1px rgba(255,255,255,0.5);
}

.menu-button {
    position:fixed;
    top:9px;
    left:0%;
    font-size:15px;
	font-weight:600;
	color:#444444;
	cursor:pointer;
	text-shadow:0px 1px 1px rgba(255,255,255,0.4);
}

#zoom-in     { margin-left: 64.5%; }
#zoom-out    { margin-left: 72%; }

#undo-button { margin-left: 84%; }
#redo-button { margin-left: 90%; }



