

#toolbar {
    position:fixed;
    width:100%;
    height:24px;
  	z-index:20000;
    box-shadow:0px 2px 4px rgba(0,0,0,0.7);
	
    background: rgb(229,210,167); /* Old browsers */
    background-image:url('../images/dirty.png'), -moz-linear-gradient(top,  rgba(229,210,167,1) 0%, rgba(183,144,33,1) 100%); /* FF3.6+ */
    background-image:url('../images/dirty.png'), -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,210,167,1)), color-stop(100%,rgba(183,144,33,1))); /* Chrome,Safari4+ */
    background-image:url('../images/dirty.png'), -webkit-linear-gradient(top,  rgba(229,210,167,1) 0%,rgba(183,144,33,1) 100%); /* Chrome10+,Safari5.1+ */
    background-image:url('../images/dirty.png'), -o-linear-gradient(top,  rgba(229,210,167,1) 0%,rgba(183,144,33,1) 100%); /* Opera 11.10+ */
    background-image:url('../images/dirty.png'), -ms-linear-gradient(top,  rgba(229,210,167,1) 0%,rgba(183,144,33,1) 100%); /* IE10+ */
    background-image:url('../images/dirty.png'), linear-gradient(to bottom,  rgba(229,210,167,1) 0%,rgba(183,144,33,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5d2a7', endColorstr='#b79021',GradientType=0 ); /* IE6-9 */
}



/*         BUTTONS          */
/****************************/

#wall-title {
    cursor:default;
    position:fixed;
    top:2px;
    margin-left:15%;
	
    font-size:18px;
    letter-spacing:1px;
    font-family:futura;
    text-rendering: optimizeLegibility;
    color:#111111;
}

#main-menu-btn {
    margin-left:4%;
    font-size:23px;
    font-family:Optima;
    font-weight:bold;
}

#main-menu-btn a {
	text-decoration:none;
	color:black;
  padding-left:3px;
  padding-right:3px;
}

.menu-btn {
    cursor:pointer;
    float:right;
    padding:0 3.5%;
    
    font-size:13px;
    font-weight:normal;
    color:#444444;
    
    height:22px;
    margin-top:-4px;
    padding-top:2px;
}

.menu-btn:active {
    color:black;
}

.bar {
    color:#666666;
    cursor:default;
    padding:2px 0 0 0;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  #wall-title {
    font-weight:bold;
  }

  .menu-btn, #main-menu-btn a {
      font-weight:bold;
	    background-color:#111111;
      color:transparent;
      text-shadow:0px 1px 1px rgba(255,255,255,0.5);
      -webkit-background-clip:text;
      -moz-background-clip:text;
      background-clip:text;
  }
  
  #main-menu-btn {
      position:relative;
      top:4px;
  }

  .menu-btn:active {
      color:transparent;
      text-shadow:0px 1px 1px rgba(255,255,255,0.35);
  }

  .btn-disabled:active {
    text-shadow:none;
    color:#777777;
  }
}

.btn-disabled {
    cursor:default;
    color:#777777;
    text-shadow:none;
    background-color:transparent;
    -webkit-font-smoothing:antialiased;
}

.btn-disabled:active {
    color:#777777;
}

#buttons {
    position:fixed;
    width:70%;
    top:3px;
    right:3%;
}

#saving {
    text-align:center;
    width:6%;
}