body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.4em; /* affects toolbar, fix */
    color: #3d3d3d;
    background-color: #DDDDDD;
    background-image: url('../images/4.jpg'); /* From subtlepatterns.com */
/*    background-image: url('../images/whitey.png'); /* From subtlepatterns.com */
}

#wall {
    width:5000px;
    height:3000px;
}

.input {
    position:absolute;
    display:none;
    width:380px;
    /*add padding so editing text doesn't move it.
    can you do with zoom? maybe it only has to work at
    normal zoom. */
    
    padding:0px 13px 2px 11px;
    margin-top:-1px;
	height:auto;
	overflow:hidden;
	resize:none;
	z-index:10000;
}

.mark { position:absolute; }

label { display:inline; }

.labelBlock {
    display:inline-block;
    width:370px;
    cursor:pointer;
}

.bullet {
	display:inline-block;
	vertical-align:top;
	color:#666666;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.destroy {
    display:inline-block;
    vertical-align:top;
    opacity:0;
    color:darkred;
}