body {
    font: 14px 'HelveticaNeue-Light', Helvetica, Arial, sans-serif;
/*	line-height: 1.4em; /* affects toolbar, fix */
    color: #3d3d3d;
}

/* Use if you decide background image zooming is too jarring. */
#background {
    position:fixed;
    width:100%;
    height:100%;
    background-color: #DDDDDD;
    background-image: url('../images/4.jpg');
}

#wall {
    position:absolute;
    width:5000px;
    height:3000px;
    background-image: url('../images/4.jpg');
    background-size:10% 10%;
}

.input {
    position:absolute;
    display:none;
    width:380px;
    padding:0px 13px 2px 11px;
    margin-top:-1px;
	height:auto;
	overflow:hidden;
	resize:none;
	z-index:10000;
}

.mark {
    position:absolute;
}

label {
    display:inline;
    white-space:pre-wrap;
    line-height:140%;
}

.labelBlock {
    display:inline-block;
    width:370px;
    cursor:pointer;
    line-height:0px;
}

.bullet {
    position:relative;
    vertical-align:top;
    top:-1px;
	display:inline-block;
	color:#666666;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	color: inherit;
	-webkit-appearance: none;
	/*-moz-appearance: none;*/
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

.destroy {
    display:inline-block;
    vertical-align:top;
    opacity:0;
    color:darkred;
}