.waypoint {
	overflow:hidden;
	cursor:default;
	position:absolute;
	font-family:HelveticaNeue;
	font-weight:bold;
	font-size:16px;
	color:#888888;
	width:140px;
	height:20px;
	text-align:center;
	padding:40px 0px;
	background-image:url('../images/circle.png');
	background-repeat:no-repeat;
	text-shadow:1px 4px 2px rgba(0,0,0,0.0);
	border-radius:20px;
	z-index:1;
}

#waypoint-input {
	cursor:text;
	resize:none;
	overflow:hidden;
	border-width:0px;
	background-color:transparent;
	outline:none;
	-webkit-appearance:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	z-index:10000;
}

#waypoint-tags {
	position:fixed;
	left:20px;
	bottom:7px;
	width:90%;
	height:35px;
	z-index:10000;
	
/*	background-color:red;*/
}

#hide-tags {
    position:absolute;
    
	padding:0px 5px 2px 3px;
	margin-top:-11px;
	
	font-size:30px;
	color:#777777;
	text-shadow:2px 3px 3px rgba(0,0,0,0.4);
	cursor:pointer;
}

.waypoint-tag {
    cursor:pointer;
    
	padding:6px 10px;
	margin-right:10px;
	
	font-size:14px;
	font-weight:bold;
	color:#444444;
	border-radius:4px;
	text-shadow:1px 1px 0px rgba(255,255,255,0.4);
	box-shadow:3px 3px 3px rgba(0,0,0,0.4);
	
	z-index:10000;
	
	background: rgb(255,234,165); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(255,234,165,1) 0%, rgba(234,195,105,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,234,165,1)), color-stop(100%,rgba(234,195,105,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(255,234,165,1) 0%,rgba(234,195,105,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(255,234,165,1) 0%,rgba(234,195,105,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(255,234,165,1) 0%,rgba(234,195,105,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(255,234,165,1) 0%,rgba(234,195,105,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffeaa5', endColorstr='#eac369',GradientType=0 ); /* IE6-9 */
}

#add-waypoint {
    padding-right:9px;
    margin-left:-4px;
}