{% extends "base.html" %}
{% block title %}settings{% endblock %}
{% block body %}

<div class="container-fluid">

<div class="row-fluid status">
  <div class="span6 offset3">
    {% if status == 'cp' %}
        <p>Your password has been changed.</p>
    {% else %}{% if status == 'ce' %}
        <p>Your email address has been updated.</p>
    {% endif %}{% endif %}
  </div>
</div>

<div class="row-fluid">
    <div class="span2 offset4">
        <form action="" method="post" id="email_change_form">
            {% csrf_token %}
            <fieldset>
                <legend>Change Email</legend>
                {{ email_form }}
            </fieldset>
            <input type="submit" value="Change email" class="blue-button" />
        </form>
    </div>
    <div class="span2">
        <form action="" method="post" id="password_change_form">
            {% csrf_token %}
            <fieldset>
                <legend>Change Password</legend>
                {{ pass_form.as_p }}
            </fieldset>
            <input type="submit" value="Change password" class="blue-button" />
        </form>
    </div>
</div>

<div class="row-fluid">
    <div id="back-from-settings" class="span2 offset5">
        <a href="/">&larr;</a>
    </div>
</div>

<div class="row-fluid footer">
  <div class="span2 offset5">
        <a href="{% url userena.views.signout %}">log out</a>
  </div>
</div>

</div>
    
{% endblock %}