{% extends "base.html" %}
{% block title %}settings{% endblock %}

{% block body %}

<div class="status">

	{% if status == 'cp' %}
		<p>Your password has been changed.</p>
	{% else %}{% if status == 'ce' %}
		<p>Check your email for a verification link.</p>
	{% endif %}{% endif %}

</div>


<form action="" method="post" id="email_change_form">{% csrf_token %}

	<fieldset>

		<legend>Change Email</legend>
		{{ email_form.as_p }}

	</fieldset>

	<input type="submit" name="em" value="Change email" class="blue-button" />

</form>


<form action="" method="post" id="password_change_form">{% csrf_token %}

	<fieldset>

		<legend>Change Password</legend>
		{{ pass_form.as_p }}

	</fieldset>

	<input type="submit" name="pass" value="Change password" class="blue-button" />

</form>


<div id="back-from-settings">
	<a href="/">&larr;</a>
</div>

	
{% endblock %}