body {
	width:5000px;
	height:3000px;
}

#wrapper {
	width:5000px;
	height:3000px;
	position:absolute;
}

.menu-base {
	position:fixed;
	margin:2.5% 0 0 5%;
	padding-top:10px;
	height:30px;
	width:90%;
	border-radius:3px;
	
	margin:0 0 0 0;
	width:100%;
	border-radius:0px;
}

#menu-background-gradient {
	opacity:0.9;
	z-index:9999;

background: rgb(254,254,254); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(254,254,254,1) 0%, rgba(237,237,237,1) 55%, rgba(219,219,219,1) 55%, rgba(226,226,226,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,254,254,1)), color-stop(55%,rgba(237,237,237,1)), color-stop(55%,rgba(219,219,219,1)), color-stop(100%,rgba(226,226,226,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(237,237,237,1) 55%,rgba(219,219,219,1) 55%,rgba(226,226,226,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(237,237,237,1) 55%,rgba(219,219,219,1) 55%,rgba(226,226,226,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(254,254,254,1) 0%,rgba(237,237,237,1) 55%,rgba(219,219,219,1) 55%,rgba(226,226,226,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(254,254,254,1) 0%,rgba(237,237,237,1) 55%,rgba(219,219,219,1) 55%,rgba(226,226,226,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#e2e2e2',GradientType=0 ); /* IE6-9 */

}

#menu-background {
	background-image:url("images/darknoise.png");
	background-repeat:repeat;
	opacity:0.2;
	z-index:10000;
}

#menu {
	font-size:15px;
	font-weight:600;
	color:#009AC9;
/*	box-shadow:3px 2px 2px rgba(0,0,0,0.3);*/
	box-shadow:-1px -1px 1px rgba(255,255,255,0.2), 1px 2px 1px rgba(0,0,0,0.5);
	text-shadow:1px 1px 1px rgba(255,255,255,1);
	z-index:10001;
}

#menu span {
	position:fixed;
	z-index:10001;
	cursor:pointer;
}

#menu span a {
	text-decoration:none;
	color:#009AC9;
}

#wall-title {
	margin-left:27%;
	cursor:default;
	font-size:20px;
	color:#666666;
	text-shadow:0px 1px 1px rgba(255,255,255,1);
}

#wall-title:hover {
	cursor:default;
}

#main-menu-button {
	margin-left:3%;
	font-size:20px;
}

#zoom-out { 		margin-left:57%;   }
#zoom-in { 			margin-left:67%;   }
#undo-button { 		margin-left:79%;   }
#redo-button { 		margin-left:85%;   }

#waypoint-tags {
	position:fixed;
	margin:90% 0% 2% 2%;
	padding-top:10px;
	width:96%;
	height:70px;
	overflow:auto;
	overflow-y:hidden;
	z-index:10002;
}

#hide-waypoint-tags {
	float:left;
	margin:0px 0px 0px -6px;
	padding:4px 7px 6px 3px;
	font-size:30px;
	color:#777777;
	cursor:pointer;
	text-shadow:2px 3px 3px rgba(0,0,0,0.4);
}

.wp-tag {
	float:left;
	cursor:pointer;
	padding:6px 10px;
	margin-right:10px;
	border-radius:4px;
	box-shadow:inset 1px 1px 1px rgba(0,0,0,0.4), 1px 1px 1px rgba(255,255,255,1);
	text-shadow:1px 1px 0px rgba(255,255,255,1);
	font-size:14px;
	font-weight:bold;
	color:#666666;
	background-image:url("images/darknoise.png");
	box-shadow:2px 3px 3px rgba(0,0,0,0.3);
}

#input {
	position:absolute;
	font-family:HelveticaNeue-Light;
	font-size:15px;
	padding:2px 13px 3px 15px;
	width:450px;
	height:auto;
	overflow:hidden;
	resize:none;
	z-index:10000;
	background-color:rgba(255,255,255,0.7);
/*	outline:none;
	-webkit-appearance:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow:inset 1px 1px 1px rgba(255,255,255,1), 1px 1px 1px rgba(0,0,0,0.4);*/
}

.waypoint {
	overflow:hidden;
	cursor:default;
	position:absolute;
	font-family:HelveticaNeue-Light;
	font-weight:bold;
	font-size:16px;
	color:#888888;
	width:180px;
	height:20px;
	text-align:center;
	padding:40px 0px;
	background-image:url('images/circle.png');
	background-repeat:no-repeat;
	text-shadow:1px 4px 2px rgba(0,0,0,0.0);
	z-index:1;
}

#w-input {
	border:0px solid black;
	cursor:text;
	resize:none;
	overflow:hidden;
	background-color:transparent;
	outline:none;
	-webkit-appearance:none;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	z-index:10000;
}

.x {
	position:absolute;
	right:-4px;
	top:-7px;
	padding:2px 5px;
	font-size:20px;
	cursor:pointer;
	color:#666666;
	opacity:0;
	filter:alpha(opacity=0);
	z-index:90000;
}

.sizer {
	display:inline;
}

.cont {
	overflow:hidden;
}

.mark {
	position:absolute;
	cursor:default;
	word-wrap:break-word;
	padding:3px;
	width:450px;
	overflow:hidden;
	border-radius:4px;
	z-index:2;
}

.elevated {
	text-shadow:1px 3px 2px rgba(0,0,0,0.3);
}

.bullet {
	font-size:14px;
	font-weight:bold;
	float:left;
}

#wrapper .ui-selecting, .ui-selected {
/* do border and box-shadow like frame and menu items */
   	box-shadow: 0px 0px 0pt 1pt #A0A0A0;
}

.mark-shadow {
	box-shadow:0px 0px 1pt 1pt red;
}