{% extends "base.html" %}
{% block title %}{{ wall.title }}{% endblock %}
{% block style %}
<!--    <link href="{{STATIC_URL}}css/walls.css" rel="stylesheet">-->
{% endblock %}
{% block body %}
    
    <div id="toolbar">
	    <div id="menu-background-gradient" class="menu-base"></div>
        <div id="menu-background" class="menu-base"></div>
        <div id="menu" class="menu-base">
            <span id="main-menu-button"><a id="main-menu-link" href="/">&larr;</a></span>
            <span id="wall-title">{{ wall.title }}</span>
            <span id="zoom-slider"></span>
            <span id="zoom-in">zoom in</span>
            <span id="undo-button">undo</span>
            <span id="redo-button">redo</span>
        </div>
    </div>
	
	
	<div id='wall'>
	    <textarea id='input' class='input'></textarea>
	    <textarea id="w-input" maxlength="22" name="waypoint" class="waypoint" style="display:none;"></textarea>
	</div>
	
	
	<script type='text/template' id='mark-template'>
        
        <textarea class='input'></textarea>
        
		<div class="bullet">&there4;</div>
		<div class='labelBlock'>	
			<label><%- text %></label>
		</div>
		
		<button class='destroy'>x</button>
		
	</script>
    
	<div id="waypoint-tags">
		<span id="add-waypoint" class="wp-tag"> + </span>
		<span id="hide-waypoint-tags">&laquo;</span>
    </div>
<!--    
	{% for wp in wall.waypoint_set.all %}
		{% if wp.text|length %}
			<div id="waypoint{{ wp.pk }}" class="waypoint" style="left:{{ wp.x }}px; top:{{ wp.y }}px;">
				{{ wp.text }}
			</div>
		{% endif %}
	{% endfor %}
-->

<script>
var username = "{{ username }}";
var wall_id = "{{ wall.id }}";
</script>

{% endblock %}
{% block scripts %}

<script src="{{STATIC_URL}}js/models/tastypie.js"></script>
<script src="{{STATIC_URL}}js/models/mark.js"></script>
<script src="{{STATIC_URL}}js/collections/tastypie.js"></script>
<script src="{{STATIC_URL}}js/collections/marks.js"></script>
<script src="{{STATIC_URL}}js/views/app.js"></script>
<script src="{{STATIC_URL}}js/views/mark.js"></script>
<script src="{{STATIC_URL}}js/views/toolbar.js"></script>
<script src="{{STATIC_URL}}js/walls.js"></script>

{% endblock %}