{% extends "base.html" %}
{% block title %}walls{% endblock %}

{% block body %}

<div id="confirm-delete" style='display:none;'></div>

<div class="wall-list">

    {% for wall in user.wall_set.all %}

        <div class='wall-name'>
            <a href="/{{ wall.id }}/">{{ wall.title }}</a>
            <div class='delete-wall'>x</div>
        </div>

    {% endfor %}

    <form id="new-wall-form" action="/newWall/" method="post" style="display:none;">{% csrf_token %}
        <input id="new-wall-input" type="text" name="wall" autocomplete="off" />
        <input type="submit" id="new-wall-arrow" value="&rarr;" />
    </form>

    <div id="add-wall" style="display:none;">+</div>

</div>

<div class="footer">

    <a href="{% url my_import.views.auth %}">import from evernote</a>
    <span></span>
<!--    <a href="/">import from gmail</a>
    <span></span>-->
    <a href="/settings/">settings</a>
    <span></span>
    <a href="{% url userena.views.signout %}">log out</a>

</div>

{% endblock %}

{% block scripts %}
    <script src="{{STATIC_URL}}js/index.js"></script>
{% endblock %}