{% extends "base.html" %}
{% block title %}{{ wall.title }}{% endblock %}
{% block style %}
    <link href="{{STATIC_URL}}css/wall.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/toolbar.css" rel="stylesheet">
    <link href="{{STATIC_URL}}css/waypoints.css" rel="stylesheet">
{% endblock %}
{% block body %}
    
    <div id="toolbar">
	    <div id="menu-background-gradient" class="menu-base"></div>
        <div id="menu-background" class="menu-base"></div>
        <div id="menu" class="menu-base">
            <span id="main-menu-button">
                <a id="main-menu-link" href="/">&larr;</a>
            </span>
            <span id="wall-title">{{ wall.title }}</span>
            <span id="zoom-in" class="menu-button">zoom in&nbsp;&nbsp;&nbsp;&nbsp;|</span>
            <span id="zoom-out" class="menu-button">&nbsp;&nbsp;&nbsp;&nbsp;zoom out</span>
            <span id="undo-button" class="menu-button">undo&nbsp;&nbsp;&nbsp;&nbsp;|</span>
            <span id="redo-button" class="menu-button">&nbsp;&nbsp;&nbsp;&nbsp;redo</span>
        </div>
    </div>
	
	
	<div id='wall'>
	    <div id='drag-container'></div>
	    <textarea id='input' class='input'></textarea>
	    <textarea id="waypoint-input" maxlength="22" name="waypoint" class="waypoint" style="display:none;"></textarea>
	</div>
	
	<div id='trash-can' class='trash-can'></div>
	
	<div id="waypoint-tags">
		<span id="add-waypoint" class="waypoint-tag"> + </span>
		<span id="hide-tags">&laquo;</span>
    </div>
	
	
	<script type='text/template' id='mark-template'>
        
        <textarea class='input'></textarea>
        
<!--	<div class="bullet">&there4;</div>  -->
		<div class='labelBlock'>	
			<label><%- text %></label>
		</div>
		
	</script>
	
	
	<script type='text/template' id='waypoint-template'>	
		<div><%- text %></div>
	</script>
	
	
<!-- Still do this instead of fetching for quicker loading?
	{% for wp in wall.waypoint_set.all %}
		{% if wp.text|length %}
			<div id="waypoint{{ wp.pk }}" class="waypoint" style="left:{{ wp.x }}px; top:{{ wp.y }}px;">
				{{ wp.text }}
			</div>
		{% endif %}
	{% endfor %}
-->

<script>
var username = "{{ username }}";
var wall_id = "{{ wall.id }}";
</script>

{% endblock %}
{% block scripts %}

<script src="{{STATIC_URL}}js/models/tastypie.js"></script>
<script src="{{STATIC_URL}}js/models/models.js"></script>
<script src="{{STATIC_URL}}js/collections/tastypie.js"></script>
<script src="{{STATIC_URL}}js/collections/collections.js"></script>
<script src="{{STATIC_URL}}js/views/app.js"></script>
<script src="{{STATIC_URL}}js/views/object.js"></script>
<script src="{{STATIC_URL}}js/views/mark.js"></script>
<script src="{{STATIC_URL}}js/views/waypoint.js"></script>
<script src="{{STATIC_URL}}js/views/toolbar.js"></script>
<script src="{{STATIC_URL}}js/views/waypoint-tags.js"></script>
<script src="{{STATIC_URL}}js/views/tag.js"></script>
<script src="{{STATIC_URL}}js/walls.js"></script>

{% endblock %}