{% extends 'base.html' %}

{% block title %}{{ wall.title }}{% endblock %}

{% block style %}
	<link href='{{STATIC_URL}}css/wall.css'      rel='stylesheet'>
	<link href='{{STATIC_URL}}css/toolbar.css'   rel='stylesheet'>
	<link href='{{STATIC_URL}}css/waypoints.css' rel='stylesheet'>
{% endblock %}

{% block body %}
	
	<div id='toolbar'>

		<div id='menu-gradient'   class='menu-base'></div>
		<div id='menu-background' class='menu-base'></div>

		<div id='menu'            class='menu-base'>
			
			<span id='main-menu-btn'>
				<a id='main-menu-link' href='/'>&larr;</a>
			</span>
			
			<span id='wall-title'>{{ wall.title }}</span>

			<span id='buttons'>
				<span class='menu-btn bar'>|</span><span id='saving'    class='menu-btn btn-disabled'>saved</span>
				<span class='menu-btn bar'>|</span><span id='redo-btn'  class='menu-btn'             >redo</span>
				<span class='menu-btn bar'>|</span><span id='undo-btn'  class='menu-btn'             >undo</span>
				<span class='menu-btn bar'>|</span><span id='zoom-out'  class='menu-btn'             >zoom out</span>
				<span class='menu-btn bar'>|</span><span id='zoom-in'   class='menu-btn'             >zoom in</span>
				<span class='menu-btn bar'>|</span><span id='list-btn'  class='menu-btn btn-disabled'>list</span>
				<span class='menu-btn bar'>|</span><!--<span id='paste-btn' class='menu-btn btn-disabled'>paste</span>
				<span class='menu-btn bar'>|</span>-->
			</span>
			
		</div> <!-- end menu -->

	</div> <!-- end toolbar -->
	
	
	<div id='wall'>

		<div id='loading'>Loading...</div>

		<textarea id='input' class='input' spellcheck='false'></textarea>
		
		<div id='wp-input' class='waypoint' style='display:none;'>

			<textarea class='waypoint-text' maxlength='22' spellcheck='false' rows='1'></textarea>
		
			<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="84px" height="84px">
				<circle cx="42" cy="42" r="40" stroke="#DDDCCC" stroke-width="1.1" fill="transparent" />
			</svg>

		</div>

	</div> <!-- end wall -->
	

	<div id='trash-can' class='trash-can'></div>
	

	<div id='waypoint-tags' style='display:none;'>
		<span id='sortable-tags'></span>
		<span id='add-waypoint' class='waypoint-tag'> + </span>
		<span id='hide-tags'>&laquo;</span>
	</div>
	
	
	<script type='text/template' id='mark-template'>
		<textarea class='input' spellcheck='false'></textarea>
		<label><%- text %></label>
	</script>
	
	
	<script type='text/template' id='waypoint-template'>
		
		<div class='waypoint-text'>
			<%- text %>
		</div>
		
		<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="84px" height="84px">
			<circle cx="42" cy="42" r="40" stroke="#BBBBBB" stroke-width="1.1" fill="transparent" />
		</svg>
		
	</script>


	<script>
		var username = "{{ username }}";
		var wall_id  = "{{ wall.id }}";
	</script>
	
	
	<audio preload='auto' id='error-sound'>
		<source src='{{STATIC_URL}}sounds/error.wav' type='audio/wav'>
	</audio>

{% endblock %}
{% block scripts %}

<script src='{{STATIC_URL}}js/helper.js'></script>
<script src='{{STATIC_URL}}js/models.js'></script>
<script src='{{STATIC_URL}}js/collections.js'></script>
<script src='{{STATIC_URL}}js/views/app.js'></script>
<script src='{{STATIC_URL}}js/views/object.js'></script>
<script src='{{STATIC_URL}}js/views/mark.js'></script>
<script src='{{STATIC_URL}}js/views/waypoint.js'></script>
<script src='{{STATIC_URL}}js/views/toolbar.js'></script>
<script src='{{STATIC_URL}}js/views/waypoint-tags.js'></script>
<script src='{{STATIC_URL}}js/views/tag.js'></script>
<script src='{{STATIC_URL}}js/ready.js'></script>

{% endblock %}